@use '../../styles/abstracts' as *;
.submenu{
	padding: 0px 0px 0px 46px;
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	&>div{
		a{
			text-decoration: none;
		}
		cursor: pointer;
        display: flex;
        flex-direction: column;
        row-gap: 4px;
		padding: 7px 8px 7px 12px;
		border-radius: 8px;
		position: relative;

		.motif{
			position: absolute;
			top: -24px;
			left: -12px;
			height: 40px;
			width: 12px;
			border-bottom: 2px solid rgba(145, 158, 171, 0.08);

			border-left: 2px solid rgba(145, 158, 171, 0.08);
			border-bottom-left-radius: 8px;
			z-index: 9998;
		}
		&:nth-child(1){
			.motif{
				height: 20px;
				top: -4px;
			}
		}
	}
	p{
		font-size: 14px;
		font-weight: 600;
		@include themed {
			color: t('text-gray');
		}
	}
	.sub-active{
		background: rgba(145, 158, 171, 0.08);
    	p{
    		@include themed {
    			color: t('text-black');
    		}
    	}
    }
}