@use '../../styles/abstracts' as *;

.orderednav-container{
    display: flex;
    align-items: center;
    column-gap: 16px;
    p{
        font-size: 14px;
        cursor: pointer;  
        @include themed {
            color: t('text-black');
        }  
        &:last-child{
            @include themed {
                color: t('text-gray');
            }
        }
    }
    .dot{
        width: 6px;
        height: 6px;
        background: rgba(145, 158, 171, 1);
        border-radius: 50%;
    }
}