.orderednav-container{
    display: flex;
    align-items: center;
    column-gap: 16px;
    p{
        font-size: 14px;
        cursor: pointer;    
        &:last-child{
            color: rgba(145, 158, 171, 1);
        }
    }
    .dot{
        width: 6px;
        height: 6px;
        background: rgba(145, 158, 171, 1);
        border-radius: 50%;
    }
}