@use '../../styles/abstracts' as *;
.dashboardnav-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 72px;
    column-gap: 14px;
    padding-right: 40px;
    position: sticky;
    top: 0;
    @include themed {
        background: t('background-color');
    }
    z-index: 9999;
    @include themed {
        box-shadow: t('nav-shadow');
    }
    width: 100%;
    .search-bar{
        padding: 8px 10px 8px 8px;
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color: rgba(145, 158, 171, 0.08);
        border-radius: 12px;
        column-gap: 8px;
        input{
            border: none;
            background-color: transparent;
            outline: none;
            transition: 0.4s ease;
        }
        span{
            padding: 5px 6px 5px 6px;
            border-radius: 6px;
            background: #fff;
            box-shadow: 0px 1px 2px 0px rgba(145, 158, 171, 0.16);
            font-size: 12px;
            font-weight: 700;
            color: rgba(28, 37, 46, 1);
        }
    }
    .nav-actions{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 14px;
        .notif{
            display: flex;
            position: relative;
            p{
                position: absolute;
                top: -12px;
                right: -6px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;                
                font-weight: 500;
                line-height: 12px;
                color: white;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                background-color: rgba(255, 86, 48, 1);
            }
        }
    }
    .avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
    }
}

.user-nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    @include themed {
        box-shadow: t('nav-shadow');
    }
    position: sticky;
    top: 0;
    z-index: 999;
    @include themed {
        background: t('background-color');
    }
    padding: 0 16px;
    .user-nav-inner{
        max-width: 1152px;
        flex: 1;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            img{
                width: 60px;
                height: 60px;
            }
        }
        .items{
            display: flex;
            column-gap: 24px;
            align-items: center;
            a{
                font-size: 14px;
                font-weight: 500;
                @include themed {
                    color: t('text-black');
                }
                text-decoration: none;
            }
            .nav-settings-btn{
                display: flex;
                align-items: center;
                column-gap: 16px;
                img{
                    cursor: pointer;
                }
            }
        }
    }
    .menu-btn, .close-menu{
        display: none;
    }
    @media screen and (max-width: 664px){
        height: 72px;
        .menu-btn{
            display: block;
            cursor: pointer;
            svg{
                font-size: 20px;
                @include themed {
                    color: t('text-gray');
                }
            }
        }

        justify-content: flex-end;
        .user-nav-inner{
            transition: 0.4s ease;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            @include themed {
                background: t('background-color');
            }
            flex-direction: column;
            justify-content: flex-start;
            padding: 16px;
            display: none;
            align-items: flex-start;
            animation: showmenu 0.2s ease;
            .items{
                flex-direction: column;
                width: 100%;
                align-items: flex-start;
                justify-content: flex-start;
                row-gap: 8px;
            }
            a{
                padding: 12px 8px;
                width: 100%;
                &:hover{
                    background: rgba(145, 158, 171, 0.08);
                    border-radius: 8px;
                }
            }
            .close-menu{
                display: block;
                cursor: pointer;
                svg{
                    font-size: 20px;
                    color: rgba(99, 115, 129, 1);
                }
            }
            .logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding-right: 8px;
            }
            &.active{
                display: block;
            }
            @keyframes showmenu {
                from{
                    opacity: 0;
                }
                to{
                    opacity: 1;
                }
            }
        }
    }
}