.footer-container{
    padding: 80px 0;
    display: flex;
    justify-content: center;
    .footer-inner{
        max-width: 1200px;
        padding: 0 24px;
        flex:1;
        img{
            width: 60px;
        }
        .footer-content{
            margin-top: 8px;
            padding-left: 16px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: 32px;
            .footer-text{
                margin-bottom: 32px;
                p{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                }
                .footer-social-links{
                    margin-top: 24px;
                    display: flex;
                    column-gap: 24px;
                    span:nth-child(1){
                        svg{
                            color: #1877F2;
                            font-size: 20px;
                        }
                    }
                    span:nth-child(2){
                        svg{
                            color: linear-gradient(45deg, #FFD600 8.39%, #FF0100 50%, #D800B9 91.61%);
                            font-size: 20px;
                        }
                    }
                    span:nth-child(3){
                        svg{
                            color: #1877F2;
                            font-size: 20px;
                        }
                    }
                    span:nth-child(4){
                        svg{
                            font-size: 20px;
                        }
                    }
                }
            }
            .site-links{
                display: flex;
                column-gap: 40px;
                flex-wrap: wrap;
                .links{
                    width: 160px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 16px;
                    margin-bottom: 32px;
                    h4{
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 18px;
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                        row-gap: 16px;
                        span{
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 22px;
                        }
                    }

                }
            }
        }
    }
}